$menuBlue: #73C2FF;
$boxBlue: #43ADFF;
$fontBlue: #43ADFF;
$medium: #73C2FF;
$light: #E3F1FB;
$textGray: #707070;
$textSmallGray: #a7a7a7;
$lineGray: #ccc;
$lineBlodGray: #e3e3e3;
$lightGray: #ececec;
